body {
    color:black;
    background:rgb(96, 209, 74);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px rgb(208, 253, 46);
    padding: 20px;
    font-size: 34px;
    color: rgb(208, 253, 46);
}

.chamada {
    background: hsl(54.19deg 98.41% 49.41% / 74%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5% ;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos {
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color: rgb(208, 253, 46)
}